*,
*::before,
*::after {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:  #5d6063;
}


.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #5995DA;
    height: 80px;
    
}
.header {
    background-color: #B2D6FF;
    
    height: auto;
    justify-content: inherit;
    align-items: inherit;
}

.photo img {
    width: 100%;
    display: block;
}
.content {
    background-color: #EAEDF0;
    height: 600px;

}


.sign-up {
    background-color: #D6E9FE;
}

.feature-1 {
    background-color: #f5cf8e;

}

.feature-2 {
    background-color: #f09A9d;
}
.feature-3 {
    background-color: #c8c6fa;

}

.illustration img{
    width: 100%;
    display: block;
}
#header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    max-width: 961px;
    background: #D6E9FE;
    
        
}


a:link,
a:visited {
    color: #5d6063;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.headerMenu {
    margin-top: 15px;

}

.headerMenu > li {
    display: inline;
    margin-right: 50px;

}

.headerMenu > li:last-of-type {
    margin-right: 0;
}
.features-menu {
    display: flex;
    flex-direction: column;
    background: #b2d6ff;
    border-radius: 6px;
    padding-top: 50px;
    position: absolute;
    top: -25px;
    left: -30px;
    z-index: 1;
    display: none;
    
    
}

.features-menu > li {
    list-style: none;
    border-bottom: 1px solid #fff;
    padding: 0 40px 10px 20px; 
    margin: 10px;

    
}

.features-menu li:last-of-type {
    border-bottom: none;
}

.dropdown {
    position: relative; 
}

.dropdown > span {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.dropdown:hover .features-menu {
    display: flex;
    flex-direction: column;
    background-color: #b2d6ff;
}

/*MOBILE*/

@media only screen and (max-width: 400px) {
    body {
        background-color: #f09A9d;
    }
    .headerMenu {
        display: flex;
        flex-direction: column;
    }
}

/*TABLET*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #f5cf8e;

    }
    .signup,
    .feature-1,
    .feature-2,
    .feature3 {
        width: 50%;
    }
}

/*DESKTOP*/

@media only screen and (min-width: 961px) {
    body {
        background-color: #b2d6ff;
        
    }
    .page {
        width: 960px;
        margin: 0 auto;

    }

    .feature-1,
    .feature-2,
    .feature-3 {
        width: 33.3%;
    }
    .header {
        height: 400px;
    }
    .sign-up {
        height: 200px;
        order: 1;
    }
    .content {
        order: 2;
    }
}